<div class="content">
    <div class="card">
        <div class="card-content">
            <div class="round-image">
                <img src="./assets/images/icon-star.svg" />
            </div>
            <div class="heading">How did we do?</div>
            <div class="text"> Please let us know how we did with your support request. All feedback is appreciated
                to help us improve our offering!</div>
            <div class="flex">
                <div class="round-image" *ngFor="let number of [1,2,3,4,5]">
                    {{number}}
                </div>
            </div>
            <div class="flex">
                <button>SUBMIT</button>
            </div>

        </div>
    </div>
</div>