<div class="content">
    <div class="card">
        <div class="card-content">
            <div class="illustration">
                <img src="./assets/images/illustration-thank-you.svg" alt="thankyou-illustration" />
            </div>
            <div class="rating">
                <span>You selected {{rating}} out of 5</span>
            </div>
            <div class="heading">
                {{heading}}
            </div>
            <div class="text">
                {{text}}
            </div>

        </div>
    </div>
</div>